# In case of private contents

# 2025-06-18 from Allen
# Test new entwatch configs
# will reopen when passing
entwatch/maps/ze_castle_bridge_p.json
entwatch/maps/ze_deathinvain_palace.json
entwatch/maps/ze_forestbunkers_p.json
entwatch/maps/ze_incident_seasons.json
entwatch/maps/ze_kebab_immigrant.json
entwatch/maps/ze_madara_temple.json
entwatch/maps/ze_magic_carpet_p.json
entwatch/maps/ze_notredame_p.json
entwatch/maps/ze_ny_marathon_p.json
entwatch/maps/ze_pogworld.json
entwatch/maps/ze_rooftop_madness_p.json
entwatch/maps/ze_siberia_1990_p.json
entwatch/maps/ze_ultrakill.json